{"ltr308_0.custom.config":{"owner":"sns_ltr308","sample_rate":{"type":"flt","ver":"0","data":"5.000000"},"als_cal_lux":{"type":"flt","ver":"0","data":"500.000000"},"als_thres_up":{"type":"flt","ver":"0","data":"0.000000"},"als_thres_low":{"type":"flt","ver":"0","data":"1048575.000000"},"als_meas_rate":{"type":"flt","ver":"0","data":"18.000000"},"als_gain":{"type":"flt","ver":"0","data":"4.000000"},"int_pst":{"type":"flt","ver":"0","data":"16.000000"}}}